.aaa{
    /* background-color: rgb(46, 149, 149); */
    height: 80px;
    width: 100px;
    padding: 10px; 
    margin: 10px; 
    border-radius: 20px;
}

.bbb{
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.mmm{
    margin-top: 40px;
    background-color: rgb(21, 55, 84);
    /* padding-right: 15px; */
    height: 500px;
    padding-bottom: -30px;
    border-radius: 20px;
}

