@import url('https://fonts.googleapis.com/css2?family=Actor&family=Alegreya+Sans:wght@300&family=Bad+Script&family=Carter+One&family=Creepster&family=Gloria+Hallelujah&family=Great+Vibes&family=Gruppo&family=Indie+Flower&family=Jura&family=Kalam&family=Kaushan+Script&family=Leckerli+One&family=Luckiest+Guy&family=Merienda&family=Nanum+Pen+Script&family=Orbitron&family=Patrick+Hand&family=Permanent+Marker&family=Rock+Salt&family=Sacramento&family=Satisfy&family=Syncopate&family=Tangerine&family=Zeyada&display=swap');


.canvas-container.upper-canvas {
    width: 0;
    height: 0;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }



